
/* log in style*/
body {
    background-color: rgb(56, 54, 54)
    
  }
  
 h2 {
    width: 100%;
    height: 25px;
    color: #285430;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Helvetica;
    
  }
  .log-in {
    
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
   
  }
 

input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    display:inline-block;
}
#log-button{
    width: 40%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-left: 30%;
    background-color: #285430;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: Helvetica;
    box-shadow: 10px 10px 8px #888888;
}
#log-button:hover{
    background-color: #A4BE7B;
    color: black;
    margin-top: 25px;
    
 }

input::placeholder {
    font-size: 16px;
    font-family: Helvetica;
    padding-left: 10px;
 
}
 
/* maps  style*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  ;

}

li {
  float: left;
  font-size: 20px;
  font-family: Helvetica;
  

}

li a{

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color:#285430;
}



#search-button{
  
  float: right;
  padding:  8px;;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;


}

#search-button:hover{
  background-color: #A4BE7B;
  color: black;

}

#map { height: 600px; }

.topnav::after {
    content:"";
    display: table;
    clear :both;
    

}


/* my account */




.forminput{
    width: 40%;
    height: 15px;
    margin:auto;
    size: 10px;
    text-align:  center;
    font-size: 22px;
    font-family: Helvetica;


}

#edit-button{
    width: 20%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-left: 0%;
    background-color: #285430;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: Helvetica;
    box-shadow: 10px 10px 8px #888888;
    align-self: center;
}